.verified-section {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffffffcc, #f4f4f4cc), url("/images/register.jpg");
  background-size: cover;
  background-position: center;
}

.verified-section h1 {
  color: #2c5f2d;
  font-weight: bold;
}

.verified-section p {
  color: black;
  font-size: 1.1rem;
}

.verified-buton {
  margin-top: 1rem;
  background-color: #f3f0eb;
  color: #8b6d53;
  font-weight: bold;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  letter-spacing: 0.5px;
  padding-inline: 2rem;
  padding: 8px 16px;
}

.verified-buton:hover {
  background-color: #e5e2dd;
  border-color: #bbb;
  cursor: pointer;
  transform: scale(1.1);
}