@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root {
  --padding-block: 3rem;
  --color-blaco: #f3f0eb;
  --color-tierra: #d1baa6;
  --color-marron: #8b6d53;
  --color-verde: #929471;
  --color-crema: #fcf4e6;
}

main {
  min-height: calc(100vh - 170px);
}

body {
  font-family: 'Manrope', sans-serif;
}

h1,
h2 {
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  line-height: 1.4;
}

.botones{
  background-color: transparent;
  border: 2px solid #c8bfb6;
  border-radius: 8px;
  padding: 6px 18px;
  color: var(--brown-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  font-weight: bold;
}

.botones:hover {
  background-color: #f0e8df;
  color: #3b3b3b;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.message-error {
  color: #f87171;
  padding: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  font-size: text-sm;
  font-weight: bold;
}

.message-confirm {
  color: deepskyblue;
  font-weight: bold;
}

.boton-confirmar{
 background-color: #ef4444; 
  color: white;
}

 .boton-confirmar,
.boton-cancelar {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  margin: 0 10px;
  min-width: 120px;
  transition: all 0.3s ease;
  border: none;
}

.boton-cancelar {
  background-color: #598719; 
  color: white;
}

.boton-confirmar:hover {
  background-color: #d73948;
}

.boton-cancelar:hover {
  background-color: #157347;
}  