*{
  margin: 0;
}
.color-bg{
  background-color: #8b6d53;
}


.bicis-img {
  width: 50%;
  height: 350px;
  display: block;
  object-fit: cover;
}


.buceo-img {
  width: 50%;
  height: 400px;
  display: block;
  object-fit: cover;
}

.img-mapa {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.radius-left,
.radius-right,
.radius-right-top {
  border-radius: 0;
}

@media (min-width: 992px) {
  .radius-left {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .radius-right {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .radius-right-top {
    border-top-left-radius: 20px;
  }
  
}