*{
  margin: 0;
}
.color-bg{
  background-color: #8b6d53;
}

.title-adventure{
 color: white;
}

.img-adventure {
  height: 600px;
  object-fit: cover;
  width: 100%;
  display: block;
}

.bicis-img {
  width: 40%;
  display: block;
  object-fit: cover;
}
.buceo-img {
  width: 50%;
  height: 400px;
  display: block;
  object-fit: cover;
}

.img-mapa {
  height: 500px;
  object-fit: cover;
}