.register-section {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("/images/register.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  width: 100%;
  height: 94vh;
  grid-template-rows: auto 1fr auto;
}

.form-register {
  color: white;
  padding: 30px;
  width: 100%;
  max-width: 500px;
}

.form-register label {
  color: #fff;
}


h1, p {
  color: #60442c;
}