section {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center;
  gap: 20px;              
  padding: 20px;
 
}


.services {
  width: 18rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  
  background-color: transparent;
}

.services .card-title,
.services .card-text {
  color: #5c5248;
}

.services:hover {
  
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


/* .boton-card{
   background-color: transparent;
  border: 2px solid  #5c5248;
  border-radius: 8px;
  padding: 6px 18px;
  color:  #5c5248;
  font-weight: 500;
} */
